# Default ignored files
/../../../../../프밍/21005 김홍석/Programming/solmusic-master/.idea/shelf/
/../../../../../프밍/21005 김홍석/Programming/solmusic-master/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../../../프밍/21005 김홍석/Programming/solmusic-master/.idea/httpRequests/
